.knowledge_gym {
    padding: 0 25px;
    background-color: var(--background-color);
}

.knowledge_gym-title {
    text-align: center;
    font-size: var(--title-content);
    
    padding: 40px 0;
}

.knowledge-icon {
    color: rgb(83, 83, 83);
    margin: 0 10px;
}




.knowledge_gym-content {
    font-size: 1.6rem;
    line-height: 1.6;
}

.knowledge_gym-img {
    max-width: 100%;
    border-radius: 6px;
    border: 4px solid #fff;
    transition: transform linear 0.1s;
}

.knowledge_gym-img:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    opacity: 0.9;
    transform: translateY(-2px);
}