.slider_img--list {
    display: flex;
    overflow-x: scroll;
    
}

.img_slider-thol {
    user-select: none;
    height: 90vh;
    border: 5px solid rgb(255, 255, 255);
    transition: transform linear 0.1s;
    
}

.img_slider-thol:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
    opacity: 0.9;
}

